body{
  background-color: rgb(60, 120, 125);
}


a{
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  width: auto;
}
#title-panel{
text-align: center;
 /* visibility: hidden; */
 }

#heading{
  font-size: 3.5rem;
  color: yellow;
  position: absolute;
  top: -30px;
  left: 60px;
  transform: rotate(-20deg);
  letter-spacing: 5px;

}

#hey{
position: relative;
right: 120px;
}
#zz{
  font-size: 5rem;
  line-height: 10px;
  position: relative;
  top: 10px;
}

#z1{
  position: relative;
  bottom: 10px;
}

#letter1, #letter2{
  font-size: 5rem;
  line-height: 10px;
  position: relative;
  top: 20px;
}

#letter2{
  transform: rotate(25deg);
  position: absolute;
  top: 200px;
}

.hidden{
display: none}

.show{
display: grid;
}
#start{
  position: relative;
  top: 250px;
}

#form{
visibility: visible;
margin: 0 auto;
text-align: center;
 /* position: absolute; */

}

#modal-subjects-container{
  /* position: relative;
  bottom: 80px; */
  /* display: none; */
visibility: hidden;
text-align: center;
}

#modal-subjects-container h2{
  margin-top: 250px;
font-size: 1.5rem;
margin-bottom: 120px;
color: orange;
}

#modal-subjects-container a{
  color:black;
  font-size: 2rem;
  font-weight: bold;
width: inherit;
padding: 70px 30px;
text-decoration: none;
margin-top: 80px;
}

.subject-selected1{
  background-image: url("C:/Users/hp/Desktop/WEB PROYECTS/quizz-quizz/assets/images/generalKnowledge.jpg");
  background-size: cover;
  background-position: center;
}
.subject-selected2{
  background-image: url("C:/Users/hp/Desktop/WEB PROYECTS/quizz-quizz/assets/images/history.jpeg");
  background-size: cover;
  background-position: center;
}
.subject-selected3{
  background-image: url("C:/Users/hp/Desktop/WEB PROYECTS/quizz-quizz/assets/images/football1.jpg");
  background-size: cover;
  background-position: center;
}
.subject-selected4{
  background-image: url("C:/Users/hp/Desktop/WEB PROYECTS/quizz-quizz/assets/images/geography.jpg");
  background-size: cover;
  background-position: center;
}



/*************************************************/
