body {
  margin: 0;
  background-color: rgb(60, 120, 125);
  /* padding-bottom: 10%; */
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  width: auto;
}

/* #welcome-wraper{
  display: none;
} */
#game-wraper {
  display: none;
}

#button-restart-container{
  display: none;
}

#end-of-game {
  display: none;
}



/***************************** ANIMATIONS SECTION ****************/

/****** SLIDE IN TITLE *****/

#title-panel{
  position: relative;
  right: 550px;
  animation-name: title-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes title-in {
  from{
    right: 550px;
}
to{
  right: 0px;
}
}


/*****  QUIZZ WORD ANIMATION *****/

#quizz-1{
  position: relative;
  bottom: 280px;
  animation-name: quizz-word;
  animation-duration: 2s;
animation-fill-mode: forwards;
}

@keyframes quizz-word{
  from{
    position: relative;
    bottom: 280px;
  }
  to{
    bottom: 0px;
  }
}


/*****  FORM CONTAINER ANIMATION****/

#form-container{
opacity: 0;
 animation-name: form;
 animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;

}

@keyframes form {
from{
  opacity: 0;

}to{
  opacity: 1;

}

}





/*****  EXCLMATIONS SYMBOLS ANIMATION ****/

#letter1, #letter2 {
  font-size: 5rem;
  line-height: 10px;
  position: absolute;
  top: 200px;
  animation-name: vibration-1;
 animation-duration: 1s;
 animation-delay: 2s;
}

#letter2{
  right: -80px;
}

@keyframes vibration-1 {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }


}




/***** CLASS LISTS */
.hidden {
  display: none
}

.show {
  display: grid;
}

.button-vanishes{
animation-name: button-vanishes;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.button-shows{
  opacity: 1;
}

@keyframes button-vanishes {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}


/**********************  CSS WELCOME PAGE *************************/

/******** WELCOME HEADING *****/
#title-panel {
  text-align: center;
  /* visibility: hidden; */
}

#heading {
  font-family: 'Alegreya', serif;
  font-size: 3.1rem;
  font-weight: 900;
  font-style: italic;
  color: yellow;
  position: absolute;
  top:-70px;
  left: 100px;
  letter-spacing: 5px;
  transform: rotate(-20deg);
}

#hey {
  position: relative;
  right: 120px;
}

#zz {
  font-size: 5rem;
  line-height: 10px;
  position: relative;
  top: 10px;
}

#z1 {
  position: relative;
  bottom: 10px;
}



/***** FORM ******/
#form-container {
  position: relative;
  top: 190px;
  text-align: center;
}

#form input {
  height: 45px;
  width: 300px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family:
}
#form input:focus{
  outline-color: orange;
}

#form .choose-text{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-top: 40px;
  color: orange;
}



/******* SUBJECTS BUTTONS ******/

#subjects-wraper {
  display: flex;
  justify-content: center;
}


#form-container button[type="submit"] {
  margin: auto 5px;
  font-size: 5.5rem;
  font-weight: bold;
  height: 170px;
  width: 230px;
  text-decoration: none;
border-radius: 10px;
/* color: white; */
color: yellow;
border: solid 2px rgb(115, 161, 122);

}

.subject-button-container{
  margin: auto 5px;
  justify-content: center;
  color: white;
text-align: center;
font-size: 5.5rem;
height: 170px;
width: 230px;
}

#form .subject-button-container h2{
  margin-top: 3px;
  font-size: 1.5rem;
color: rgb(255, 204, 106);
}

.subject-button-container #start-countdown{
  color: rgb(255, 204, 106);
position: relative;
top: 30px;
}
.subject-button-container #start-subject{
position: relative;
top: 67px;
}

.subject-1 {
  background-image: url("../images/generalKnowledge.jpg");
  background-size: cover;
  background-position: center;
}

.subject-1:hover {
  background-size: 105%;
}

.subject-2 {
  background-image: url("../images/history.jpeg");
  background-size: cover;
  background-position: center;
}

.subject-2:hover {
  background-size: 155%;
}

.subject-3 {
  background-image: url("../images/football1.jpg");
  background-size: cover;
  background-position: center;
}

.subject-3:hover {
  background-size: 140%;
}

.subject-4 {
  background-image: url("../images/geography.jpg");
  background-size: cover;
  background-position: center;
}

.subject-4:hover {
  background-size: 105%;
}




/************************** GAME SECTION *****************************/


/***** HEADING *****/
#heading-container {
  background-color: inherit;
  width: 45%;
  color: rgb(255, 232, 122);
  margin: 0 auto;
  padding-top: 20px;
  /* display: flex; */
}

#heading-container h2 {
  color: rgb(255, 232, 122);
  position: absolute;
  left: 80px;
  top: 20px;
  font-size: 1.7rem;
}

#heading-container .heading {
  display: flex;
  margin: 20 auto;
  justify-content: space-between;

}

.heading #subject{
margin: 15px 0 0 15px;
}



#countDown {
  font-size: 3rem;
  /* margin-left: 30px; */
}


/****** QUESTION & ANSWERS SECTION ****/
#game-container {
  font-family: 'Poppins', sans-serif;
  color: rgb(59, 99, 103);
  margin: 40px auto 0 100px;
  background-color: rgb(255, 255, 242);
  width: 50vw;
  height: 51vh;
  display: inline-block;
  position: relative;
  bottom: 30px;
  text-align: center;
  border-radius: 10px;
}


/**** QUESTION CSS **/
#game-container h4 {
  padding: 2px 5px;
  /* margin: 0 15px; */
  height: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: rgb(9, 52, 56);
}

.move {
  position: relative;
  top: 25px;
}

/*** ANSWERS CSS ***/
.answer-box button {
  font-size: 1rem;
  margin-top: 30px;
  display: flex;
  background-color: inherit;
  height: 40px;
  width: 100%;
  border: none;
  justify-content: center;
  position: relative;
  top: 12px;
}

.answer-box {
  align-items: center;
  margin-bottom: 25px;
  padding: auto 18px;
}

.blank {
  background-color: white;
}

.right-answer {
  background-color: rgb(151, 218, 125);
}

.wrong-answer {
  background-color: rgb(228, 131, 131);
}


/********* SCORE PANEL SECTION ************/

#score-box {
  background-color: rgba(255, 250, 233, 0.77);
  width: 200px;
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: 20px;
  border-radius: 10px;
}

#score-container {
  display: inline-block;
}

#current-player-name {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

#score-box h4 {
  margin-left: 10px;
}



/******** COMODIN SECTION *********/
#comodin-container {
  background-color: inherit;
  width: 50%;
  margin: 0 auto;
padding-top: 0;
 justify-content: center;
}

#comodin-container h3 {
  color: rgb(255, 232, 122);
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.comodin-options {
  display: flex;
  text-align: center;
  justify-content: space-around;
  /* width: 700px; */
}

.comodin-options button {
  /* font-family: 'Open Sans', sans-serif; */

  height: 50px;
  /* width: 350px; */
  width: 33%;
  border: 1px solid lightgrey;
  background-color: rgba(255, 208, 24, 0.9);
  font-size: 0.900rem;
  color: rgb(60, 120, 125);
  /* box-shadow: 1px 1px 2px 1px rgb(191, 191, 191); */
}

.comodin-options button:hover {
  background-color: rgba(255, 208, 24, 0.63);
  color: rgb(60, 120, 125);
}

#comodin-container h5 {
  text-align: center;
  margin: 0 auto;
}

/***** MODAL ****/
#modal-subjects-panel {
  position: absolute;
  top: 25px;
   right:-2px;
   width: 22%;
opacity: 0;
 text-align: center;
  display: none;
  flex-direction: column;
  animation-name: slideIn;
  animation-duration: 0.750s;
  animation-fill-mode: forwards;
}

 @keyframes slideIn {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}

#modal-subjects-panel button {
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
  width: 100%;
  text-decoration: none;
  margin-top: 10px;
  border: solid 2px rgb(115, 161, 122);
}

#modal-subjects-panel h2 {
  color: rgb(255, 204, 106);
font-size: 1rem;
margin: 0;
}
/****** MODAL SUBJECTS BUTTONS  ******/
.modal-subject-1 {
  background-image: url("../images/generalKnowledge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.modal-subject-1:hover {
  background-size: 105%;
}

.modal-subject-2 {
  background-image: url("../images/history.jpeg");
  background-size: cover;
  background-position: center;
}

.modal-subject-2:hover {
  background-size: 105%;
}

.modal-subject-3 {
  background-image: url("../images/football1.jpg");
  background-size: cover;
  background-position: center;
}

.modal-subject-3:hover {
  background-size: 105%;
}
.modal-subject-4 {
  background-image: url("../images/geography.jpg");
  background-size: cover;
  background-position: center;
}
.modal-subject-4:hover {
  background-size: 105%;
}

/*********  END OF GAME PANEL ******/
#end-of-game {
  background-color: rgb(255, 255, 242);
  border-radius: 10px;
  width: 60%;
  padding: 5px;
  margin: 50px auto 40px;
  text-align: center;
  color: rgb(20, 71, 75);
  box-shadow: 3px 3px 3px 3px;
}

#end-of-game h1 {
  color: rgb(125, 42, 36)
}

#end-of-game h2 {
  color: rgb(60, 120, 125);
  font-size: 1.2rem;
}

th {
  color: rgb(255, 197, 27);
}

table td {
  width: 33%;
  line-height: 35px;
}

#final-score-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}


/********************** RESTART GAME SECTION *****************/
#button-restart-container {
  margin: 0 auto;
  margin-top: 0;
  width: 40%;
  height: 50px;
}

#restart-game {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255, 194, 48);
  border: solid 1px white;
  color: rgb(19, 98, 105);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
}

#restart-game:hover {
  background-color: rgb(60, 120, 125);
  border: solid 1px rgb(255, 194, 48);
  color: rgb(255, 194, 48);
}


/**************************************** MEDIA TABLET **********************************************/
@media (max-width: 900px) {

  #heading {
    font-size: 3rem;
    color: yellow;
    text-align: center;
    position: relative;
    left: 0;
    transform: rotate(0);
    letter-spacing: 4px;
    line-height: 58px;
  }

  #hey {
    position: relative;
    right: 100px;
  }

  #zz {
    font-size: 3.5rem;
    line-height: 10px;
    position: relative;
    top: 10px;
  }

  #z1 {
    position: relative;
    bottom: 7px;
  }


   #letter1 {
    transform: rotate(0);
    position: relative;
    top: 20px;
  }
  #letter2 {
    transform: rotate(0);
    position: relative;
   top: 20px;
    left:0;
   }

  /***** FORM ******/
  #form-container {
    position: relative;
    top: 0;
justify-content: center;
   padding: auto 20px;
  }

  #form h2 {
    /* margin-top: 30px; */
    letter-spacing: 2px;
    font-size: 1.3rem;
  }

  /***** CLASS LISTS */
  .hidden {
    display: none
  }

  .show {
    display: grid;
  }

  /**** SUBJECTS PANEL *****/


  #subjects-wraper {
align-items: center;
   flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 70px;
  }

.subject-button-container{
  width:100%;
  margin-bottom: 20px;
}

#form-container .subject-button-container button {
  margin: 5px auto;
  display: block;
  font-size: 5.2rem;
  font-weight: bold;
  height: 140px;
  width: 60vw;
  text-align: center;
justify-content: center;
  text-decoration: none;
  border: solid 2px rgb(115, 161, 122);

}

#subjects-wraper .subject-button-container h2{
  font-size: 1.3rem;
}


.subject-button-container #start-countdown{
  position: relative;
  top:10px;
font-size: 4.5rem;
  }
  .subject-button-container #start-subject{
  position: relative;
  top: 21px;
  }


/*** ZOOM SIZE SUBJECTS IMAGES ***/
  .subject-1:hover {
    background-size: 105%;
  }

  .subject-2:hover {
    background-size: 105%;
  }

  .subject-3:hover {
    background-size: 105%;
  }

  .subject-4:hover {
    background-size: 105%;
  }


  /***** MODAL SUBJECT PANEL ****/
  #modal-subjects-panel {
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(3, 1, 1, 0.5); */
    /* background-color: rgba(23, 26, 26, 0.82); */
    background-color: rgb(60, 120, 125);
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: none;
    flex-direction: column;
    padding-top: 5vh;
  }

  #modal-subjects-panel button {
    margin: 0 auto;
    display: block;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    height: 110px;
    width: 55vw;
    text-decoration: none;
    margin-top: 20px;
    border: solid 2px rgb(115, 161, 122);
  border-radius: 5px;
   /* box-shadow: 10px 10px 8px 10px rgb(255, 204, 46); */
  }

  /************ GAME SCREEN **************/
  #heading-container {
    width: 60%;
    margin-top: 0px;
  }

  #heading-container h1 {
    font-size: 1.4rem;
  }

  #heading-container h2 {
  display: none;
  }

  #heading-container .heading {
    display: flex;
    margin: 20 auto;
    justify-content: space-between;

  }

  .heading #subject{
  margin: 15px 0 0 15px;
  }



  #countDown {
    font-size: 2.6rem;
position: relative;
bottom: 5px;
}


  /************** SCORE SECTION ****************/
  #score-container {
    display: none;
  }

  #player-name {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
  }

  #score-box h4 {
    margin-left: 10px;
  }

  /*****  game panel ******/
  #game-container {
    justify-content: center;
    width: 70%;
    text-align: center;
  }

  #game-container h4 {
    padding: 2px;
    font-size: 1rem;
  }

  .answer-box button {
    margin-top: 20px;
    display: flex;
    background-color: inherit;
    height: 40px;
    width: 100%;
    border: none;
    justify-content: center;
    position: relative;
    top: 12px;
  }

  .answer-box {
    align-items: center;
    margin-bottom: 25px;
    padding: auto 18px;
  }

  .blank {
    background-color: white;
  }

  .right-answer {
    background-color: rgb(151, 218, 125);
  }

  .wrong-answer {
    background-color: rgb(228, 131, 131);
  }

  /***** COMODIN SECTION ******/
  #comodin-container {
    width: 55%;
  }

  #comodin-container h3 {
    color: rgb(255, 232, 122);
    margin-top: 5px;
    padding-top: 10px;
    line-height: 6px;
  }

  /* .comodin-options {
    display: flex;
    text-align: center;
    justify-content: space-around;
  } */
  .comodin-options {
  display: block;
  }
  .comodin-options button {
    height: 45px;
    width: 100%;
    border: 1px solid lightgrey;
    background-color: rgba(255, 208, 24, 0.9);
    font-size: 1rem;
    color: rgb(60, 120, 125);
  }

  .comodin-options button:hover {
    background-color: rgba(255, 208, 24, 0.63);
    color: rgb(60, 120, 125);
  }

  #comodin-container h5 {
    text-align: center;
    margin: 0 auto;
  }



  /*********  END OF GAME PANEL ******/
  #end-of-game {
    width: 70%;
    padding: 5px;
    padding-right: 30px;
  }

  #end-of-game h1 {
    color: rgb(125, 42, 36);
    font-size: 1.9rem;
  }

  #end-of-game h2 {
    color: rgb(60, 120, 125);
    font-size: 1.2rem;
  }

  th {
    color: rgb(255, 197, 27);
    font-size: 0.900rem;
  }

  table td {
    width: 33%;
    line-height: 30px;
    font-size: 0.900rem;
  }

  #final-score-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    /* padding-right: 20px; */
  }

  /***** BUTTON RESTART GAME ****/
  #button-restart-container {
    margin: 0 auto;
    width: 50%;
  }

  #restart-game {
    font-size: 0.900rem;
    letter-spacing: 2px;
  }
}

/******************************** MEDIA MOBILE ************************************/
@media (max-width: 575px) {
  #heading {
    margin: 0 auto;
    padding: 5% auto;
    width: 95%;
    font-size: 2.7rem;
    color: yellow;
    position: absolute;
    top: 10px;
    letter-spacing: 4px;
    line-height: 40px;
}

  /* #hey {
    position: relative;
    right: 70px;
  } */

  #zz {
    font-size: 3.7rem;
    line-height: 5px;
    position: relative;
    top: 5px;
  }

  #z1 {
    position: relative;
    bottom: 5px;
  }

  #letter1, #letter2 {
    font-size: 3.7rem;
    line-height: 10px;
    position: absolute;
    top: 110px;
  }

  #letter2 {
    transform: rotate(0deg);
    position: absolute;
    top: 105px;
    left: 190px;
  }



  /***** FORM ******/
  #form-container {
    position: relative;
    top: 200px;
    text-align: center;
    padding: auto 20px;
  }

  #form input {
    margin-bottom: 15px;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1.1rem;
  }

  #form h2 {
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    padding: 5% auto;

  }

  /***** CLASS LISTS */
  .hidden {
    display: none
  }

  .show {
    display: grid;
  }

  /**** MAIN SUBJECTS PANEL*****/

  #subjects-wraper {
    display: block;
    justify-content: center;
    /* padding-bottom: 70px; */
    padding: 5% auto;

  }

#form .subject-button-container{
  width: 100%;
}

  #form-container .subject-button-container button {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    height: 120px;
    width: 90vw;
    text-decoration: none;
    /* border-color: orange; */
  }

  /* .subject-button-container #start-countdown{
    position: relative;
    top: 1px;
    font-size: 3.5rem;
    }

    .subject-button-container #start-subject{
    position: relative;
    top: -4px;
    } */

    /***** MODAL SUBJECTS PANEL ****/
    #modal-subjects-panel {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(60, 120, 125);
      height: 100vh;
      width: 100vw;
      text-align: center;
      display: none;
      flex-direction: column;
      padding-top: 5vh;
    }

    #modal-subjects-panel button {
      display: block;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      height: 100px;
      width: 280px;
      text-decoration: none;
      margin-top: 15px;
      border: solid 2px rgb(115, 161, 122);
      /* border: none; */
      /* box-shadow: 10px 10px 8px 10px rgb(255, 204, 46); */
    }
  /*******  GAME SCREEN MOBILE ****/
  #heading-container {
    width: 80%;
    margin-top: 0px;
  }

  #heading-container h1 {
    font-size: 1.3rem;
  }

  #heading-container h2 {
  display: none;
  }

  #heading-container .heading {
    display: flex;
    margin: 20 auto;
    justify-content: space-between;

  }

  .heading #subject{
  margin: 15px 0 0 15px;
  }

  #countDown {
    font-size: 2rem;
position: relative;
top: 5px;
}

  /*****  game panel */
  #game-container {
    /* margin-top: 10px; */
    width: 90%;
    margin: 50px 20px auto 20px;
    text-align: center;
  }
#game-container h4{
  padding: 3px;
}
  .answer-box button {
    height: 35px;
    width: 100%;
  }

  /***** COMODIN SECTION ******/
  #comodin-container {
    width: 70%;
    display: block;
  }

  #comodin-container h3 {
    margin-top: 0;
    padding-top: 0;
    color: rgb(255, 232, 122);
    line-height: 6px;
  }

  /* .comodin-options button {
  display: block;
    height: 50px;
    width: 34%;
    font-size: 0.700rem;
  } */
  .comodin-options {
  display: block;

  }
  .comodin-options button {
  display: block;
    height: 45px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2px;
  }
  .comodin-options button:hover {
    background-color: rgba(255, 208, 24, 0.63);
    color: rgb(60, 120, 125);
  }

  #comodin-container h5 {
    text-align: center;
    margin: 0 auto;
  }



  /*********  END OF GAME PANEL ******/
  #end-of-game {
    width: 80%;
    padding: 5px;
    padding-right: 20px;
  }

  #end-of-game h1 {
    color: rgb(125, 42, 36);
    font-size: 1.5rem;
  }

  #end-of-game h2 {
    color: rgb(60, 120, 125);
    font-size: 1rem;
  }

  th {
    color: rgb(255, 197, 27);
    font-size: 0.900rem;
  }

  table td {
    width: 33%;
    line-height: 25px;
    font-size: 0.900rem;
  }

  #final-score-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    /* padding-right: 20px; */
  }


  /***** BUTTON RESTART GAME ****/
  #button-restart-container {
    margin: 0 auto;
    width: 70%;
  }

  #restart-game {
    height: 40px;
    font-size: 0.800rem;
    letter-spacing: 2px;
  }
}
