body {
  margin: 0;
  background-color: rgb(60, 120, 125);
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  width: auto;
}

/*************************************** ANIMATIONS SECTION ********************/

/****** SLIDE IN TITLE *****/

#title-panel{
  position: relative;
  right: 80%;
  animation-name: title-in;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes title-in {
  from{
    right: 80%;
}
to{
  right: 0;
}
}

/*****  QUIZZ WORD ANIMATION *****/

#quizz-1{
  position: relative;
  bottom: 280px;
  animation-name: quizz-word;
  animation-duration: 1.6s;
animation-fill-mode: forwards;
}

@keyframes quizz-word{
  from{
    position: relative;
    bottom: 280px;
  }
  to{
    bottom: 0px;
  }
}

/*****  FORM CONTAINER ANIMATION****/

#form-container{
opacity: 0;
 animation-name: form;
 animation-duration: 0.9s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;

}

@keyframes form {
from{
  opacity: 0;

}to{
  opacity: 1;

}

}

/*************** CLASS LISTS ADDED ON THE FLOW *************/

.hidden {
  display: none
}

.show {
  display: grid;
}

.blank {
  background-color: white;
}

.right-answer {
  background-color: rgb(151, 218, 125);
}

.wrong-answer {
  background-color: rgb(228, 131, 131);
}

.button-vanishes{
animation-name: button-vanishes;
animation-duration: 1s;
animation-fill-mode: forwards;
}


@keyframes button-vanishes {
  from{
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}

.button-shows{
  opacity: 1;
}

.status-color{
  animation-name: warning;
  animation-duration: 0.7s;
}

@keyframes warning {
from{
  background-color: inherit;
}  to{
  background-color: yellow;
}
}

/*****************************  CSS WELCOME PAGE *********************************/

/******** WELCOME HEADING *****/

#title-panel {
  text-align: center;
}

#heading {
  font-family: 'Alegreya', serif;
  font-size: 3.1rem;
  font-weight: 900;
  font-style: italic;
  color: yellow;
  position: absolute;
  left: 9%;
  top:-60px;
  letter-spacing: 5px;
  transform: rotate(-20deg);
}

#hey {
  position: relative;
  right: 120px;
}

#zz {
  font-size: 5rem;
  line-height: 5px;
  position: relative;
  right: 15px;
}

#z1 {
  position: relative;
  bottom: 10px;
}

#exclamations {
  font-size: 4rem;
}

/************* FORM **************/

#form-container {
  position: relative;
  top: 200px;
  text-align: center;
}

#form input {
  height: 45px;
  width: 300px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
#form input:focus{
  outline-color: orange;
}

#form #heading-2{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-top: 40px;
  color: rgba(255, 208, 24, 0.9);
}

/********** SUBJECTS BUTTONS ********/

#subjects-wraper {
  display: flex;
  justify-content: center;
}

.subject-button-container{
  margin: auto 5px;
  justify-content: center;
text-align: center;
font-size: 5.5rem;
height: 170px;
width: 230px;
}

.subject-button-container button[type="submit"] {
  margin: auto 5px;
  font-size: 5.5rem;
  font-weight: bold;
  height: 170px;
  width: 230px;
  text-decoration: none;
border-radius: 10px;
border: solid 2px rgb(115, 161, 122);
}

.subject-button-container h2{
  margin-top: 3px;
  font-size: 1.5rem;
  color: rgb(255, 204, 106);
}

.subject-button-container #start-countdown{
  height: 170px;
  margin-top: 10.3%;
color: rgb(255, 204, 106);
}


.subject-button-container #start-subject{
  color: rgb(255, 204, 106);
}

.subject-1 {
  background-image: url("../images/generalKnowledge.jpg");
  background-size: cover;
  background-position: center;
}

.subject-1:hover {
  background-size: 105%;
}

.subject-2 {
  background-image: url("../images/history.jpeg");
  background-size: cover;
  background-position: center;
}

.subject-2:hover {
  background-size: 155%;
}

.subject-3 {
  background-image: url("../images/football1.jpg");
  background-size: cover;
  background-position: center;
}

.subject-3:hover {
  background-size: 140%;
}

.subject-4 {
  background-image: url("../images/geography.jpg");
  background-size: cover;
  background-position: center;
}

.subject-4:hover {
  background-size: 105%;
}


/******************************** GAME PAGE SECTION **********************************/

/*********** HEADING ***********/

#heading-container {
  background-color: inherit;
  width: 45%;
  color: rgb(255, 232, 122);
  margin: 0px auto;
  padding-top: 20px;
}

#heading-container .heading {
  display: flex;
  margin: 5px auto 0px auto;
  justify-content: space-between;
}

.heading #subject{
margin: 15px 0px 0px 15px;
}

#heading-container h2 {
  color: rgb(255, 232, 122);
  position: absolute;
  left: 8%;
  top: 20px;
  font-size: 1.7rem;
}

#heading-container #countDown {
  font-size: 3rem;
}

.level-status-mobile{
  display: none;
}

/************ GAME PANEL *******/

#canvas-game{
  display: flex;
}

#game-container {
  font-family: 'Poppins', sans-serif;
  color: rgb(59, 99, 103);
  margin: 1% auto 1% auto;
  background-color: rgb(255, 255, 242);
  width: 50%;
  height: 52%;
  text-align: center;
  border-radius: 10px;
}

/**** question **/
#game-container h4 {
  padding: 1px 70px;
  height: 30%;
  letter-spacing: 1px;
  color: rgb(9, 52, 56);
  margin-top: 3%;
}

/*** answer ***/
.answer-box {
  align-items: center;
  margin-top: 6%;
  margin-bottom: 6%;
  border-radius: 10px;
  height: 25%;
}

.answer-box button {
  font-size: 1rem;
  padding-bottom: 1%;
  display: flex;
  background-color: inherit;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
  justify-content: center;
  position: relative;
  top: 12px;
}

/********* SCORE PANEL SECTION ************/

#score-container {
  display: inline-block;
font-size: 1.1rem;
}

#score-box {
  background-color: rgba(255, 250, 233, 0.77);
  color: rgb(9, 52, 56);
  width: 17%;
  display: inline-block;
  padding-left: 5px;
  position: absolute;
  top: 22%;
  left: 3%;
  border-radius: 10px;
}

#current-player-name {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
}

#score-box h4 {
  margin-left: 10px;
}

/******** COMODIN SECTION *********/

#comodin-container {
  background-color: inherit;
  width: 50%;
  margin: 0 auto;
padding-top: 0;
 justify-content: center;
}

#comodin-container h3 {
  color: rgb(255, 232, 122);
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}

.comodin-buttons-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}

.comodin-buttons-container button {
  height: 50px;
  width: 33%;
  border: 1px solid lightgrey;
  background-color: rgba(255, 208, 24, 0.9);
  font-size: 0.900rem;
  color: rgb(60, 120, 125);
}

.comodin-buttons-container button:hover {
  background-color: rgba(255, 208, 24, 0.63);
  color: rgb(60, 120, 125);
}

/*********************** MODAL SUBJECTS SECTION ****************/

#modal-subjects-panel {
  position: absolute;
  top: 25px;
   right:-2px;
   width: 22%;
opacity: 0;
 text-align: center;
  flex-direction: column;
  animation-name: slideIn;
  animation-duration: 0.750s;
  animation-fill-mode: forwards;
}

 @keyframes slideIn {
from{
  opacity: 0;
}
to{
  opacity: 1;
}
}


#modal-subjects-panel button {
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
  width: 100%;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 10px;
  border: solid 2px rgb(115, 161, 122);
}

#modal-subjects-panel h2 {
color: rgb(255, 204, 106);
font-size: 1rem;
margin: 0;
}

/****** MODAL SUBJECTS BUTTONS BACKGROUNDS ******/

.modal-subject-1 {
  background-image: url("../images/generalKnowledge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.modal-subject-1:hover {
  background-size: 105%;
}

.modal-subject-2 {
  background-image: url("../images/history.jpeg");
  background-size: cover;
  background-position: center;
}

.modal-subject-2:hover {
  background-size: 105%;
}

.modal-subject-3 {
  background-image: url("../images/football1.jpg");
  background-size: cover;
  background-position: center;
}

.modal-subject-3:hover {
  background-size: 105%;
}
.modal-subject-4 {
  background-image: url("../images/geography.jpg");
  background-size: cover;
  background-position: center;
}
.modal-subject-4:hover {
  background-size: 105%;
}

/*******************************  END OF GAME SECTION ***************************/

#end-of-game {
  background-color: rgb(255, 255, 242);
  border-radius: 10px;
  width: 60%;
  padding: 5px;
  margin: 50px auto 40px;
  text-align: center;
  color: rgb(20, 71, 75);
  box-shadow: 3px 3px 3px 3px;
}

#end-of-game h1 {
  color: rgb(125, 42, 36)
}

#end-of-game h2 {
  color: rgb(60, 120, 125);
  font-size: 1.2rem;
}

th {
  color: rgb(255, 197, 27);
}

table td {
  width: 33%;
  line-height: 35px;
}

#final-score-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

/*********** RESTART GAME BUTTON ***********/

#button-restart-container {
  margin: 0 auto;
  margin-top: 0;
  width: 40%;
  height: 50px;
}

#restart-game {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255, 194, 48);
  border: solid 1px white;
  color: rgb(19, 98, 105);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 2px;
}

#restart-game:hover {
  background-color: rgb(60, 120, 125);
  border: solid 1px rgb(255, 194, 48);
  color: rgb(255, 194, 48);
}

/************************************ MEDIA TABLET ************************************/
@media (max-width: 900px) {

/************** WELCOME HEADING **************/

  #heading {
    font-size: 3rem;
    color: yellow;
    text-align: center;
    position: relative;
    left: 20px;
    margin-top: 100px;
    transform: rotate(0);
    letter-spacing: 4px;
    line-height: 58px;
  }

  #zz {
    font-size: 4.1rem;
    line-height: 10px;
    position: relative;
    top: 10px;
  }

  #z1 {
    position: relative;
    bottom: 7px;
  }

 #exclamations {
    font-size: 3.9rem;
    line-height: 10px;
  }

/******************* FORM  TABLET SECTION  *******************/

  #form-container {
    position: relative;
    top: -40px;
   justify-content: center;
   padding: 0px 20px;
  }

  #form h2 {
    letter-spacing: 2px;
    font-size: 1.3rem;
  }

  /******** SUBJECTS TABLET PANEL ********/

  #subjects-wraper {
align-items: center;
   flex-wrap: nowrap;
    flex-direction: column;
    padding-bottom: 70px;
  }

#subjects-wraper .subject-button-container{
  width:100%;
  margin-bottom: 20px;
}

#subjects-wraper .subject-button-container button {
  margin: 5px auto;
  display: block;
  font-size: 5.2rem;
  font-weight: bold;
  height: 140px;
  width: 60vw;
  text-align: center;
justify-content: center;
  text-decoration: none;
  border: solid 2px rgb(115, 161, 122);
}

.subject-button-container h2{
  font-size: 1.3rem;
}

.subject-button-container #start-countdown{
  height: 140px;
  margin-top: 1%;
color: rgb(255, 204, 106);
}


 .subject-button-container #start-subject{
  color: rgb(255, 204, 106);
}


/****** ZOOM SUBJECTS IMAGES ******/

  .subject-1:hover {
    background-size: 105%;
  }

  .subject-2:hover {
    background-size: 105%;
  }

  .subject-3:hover {
    background-size: 105%;
  }

  .subject-4:hover {
    background-size: 105%;
  }

  /******************** MODAL SUBJECTS TABLET PANEL *****************/

  #modal-subjects-panel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(44, 89, 93);
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding-top: 5%;
  }

  #modal-subjects-panel button {
    margin: 0 auto;
    display: block;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    height: 110px;
    width: 55vw;
    text-decoration: none;
    margin-top: 20px;
    border: solid 2px rgb(115, 161, 122);
  border-radius: 5px;
  }

  /*************************** GAME PAGE TABLET SECTION *************************/

  /*************** HEADING **************/
  #heading-container {
    width: 60%;
    margin-top: 0px;
  }

  #heading-container .heading {
    display: flex;
    margin: 10px auto 0px auto;
    justify-content: space-between;
  }

  #heading-container h1 {
    font-size: 1.4rem;
  }

  #heading-container #subject{
     margin: 15px 0 0 15px;
  }

  #heading-container #countDown {
   font-size: 2.7rem;
   position: relative;
   bottom: 3px;
  }

  #heading-container h2 {
  display: none;
  }

  /************  GAME TABLET PANEL **************/

  #canvas-game{
    display: flex;
  }

  #game-container {
    margin: 0 auto 3% auto;
    background-color: rgb(255, 255, 242);
    width: 70%;
    height: 51%;
  }

.level-status-mobile{
  display: block;
  font-size: 1.2rem;
  color: rgb(255, 232, 122);
  text-align: center;
  padding-bottom: 8%;
}

  #game-container h4 {
    padding: 4px 20px;
    font-size: 1rem;
  }

  #answer-options{
    margin-top: 40px;
  }

.answer-box{
  align-items: center;
  border-radius: 10px;
}

  .answer-box button {
    font-size: 1.1rem;
    margin-top: 20px;
    display: flex;
    background-color: inherit;
    height: 40px;
    width: 100%;
    border: none;
    justify-content: center;
    position: relative;
    top: 12px;
    border-radius: 10px;
  }

  /******************** SCORE TABLET SECTION *********************/

  #score-container {
    display: none;
  }

  /*********************** COMODIN TABLET SECTION **********************/
  #comodin-container {
    width: 70%;
  }

  #comodin-container h3 {
    color: rgb(255, 232, 122);
    margin-top: 5px;
    padding-top: 10px;
    line-height: 6px;
  }

  .comodin-buttons-container {
  display: block;
  }

  .comodin-buttons-container button {
    width:100%;
    height: 45px;
    border: 1px solid lightgrey;
    margin-bottom: 2px;
    background-color: rgba(255, 208, 24, 0.9);
    font-size: 1rem;
    color: rgb(60, 120, 125);
  }

  .comodin-buttons-container button:hover {
    background-color: rgba(255, 208, 24, 0.63);
    color: rgb(60, 120, 125);
  }

  #comodin-container h5 {
    text-align: center;
    margin: 0 auto;
  }

  /*********************************  END OF GAME PAGE TABLET SECTION *******************************/
  #end-of-game {
    width: 70%;
    padding: 5px;
    padding-right: 30px;
  }

  #end-of-game h1 {
    color: rgb(125, 42, 36);
    font-size: 1.9rem;
  }

  #end-of-game h2 {
    color: rgb(60, 120, 125);
    font-size: 1.2rem;
  }

  th {
    color: rgb(255, 197, 27);
    font-size: 0.900rem;
  }

  table td {
    width: 33%;
    line-height: 30px;
    font-size: 0.900rem;
  }

  #final-score-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }

  /***** BUTTON RESTART GAME ****/
  #button-restart-container {
    margin: 0 auto;
    width: 50%;
  }

  #restart-game {
    font-size: 0.900rem;
    letter-spacing: 2px;
  }
}

/******************************** MEDIA MOBILE ************************************/

@media (max-width: 575px) {

  /*************** WELCOME MOBILE HEADING *************/

  #heading {
    margin: 0 auto;
    padding: 6% 0%;
    width: 95%;
    font-size: 2.7rem;
    color: yellow;
    position: absolute;
    top: 10px;
    left: 20px;
    letter-spacing: 4px;
    line-height: 50px;
}

  #zz {
    font-size: 3.7rem;
    line-height: 5px;
    position: relative;
    top: 5px;
  }

  #z1 {
    position: relative;
    bottom: 5px;
  }

  #exclamations {
    font-size: 3.4rem;
    line-height: 10px;
  }

  /****************** FORM MOBILE SECTION  *******************/
  #form-container {
    position: relative;
    top: 220px;
    text-align: center;
    padding: 0px 20px;
  }

  #form input {
    margin-bottom: 15px;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 1.1rem;
  }

  #form #heading-2 {
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin-bottom: 0px;
    padding: 5% 0%;
  }

  /***********  SUBJECTS PANEL *********/

#form #subjects-wraper {
    display: block;
    justify-content: center;
    padding: 5% 0%;
  }

  #subjects-wraper .subject-button-container{
    width: 100%;
  }

    #subjects-wraper .subject-button-container button {
      font-size: 4.5rem;
      font-weight: bold;
      margin-bottom: 5px;
      height: 120px;
      width: 90vw;
      text-decoration: none;
    }

    .subject-button-container #start-countdown{
      height: 120px;
      margin-top: 0.9%;
    color: rgb(255, 204, 106);
    }

     .subject-button-container #start-subject{
      margin-top: 2%;
      color: rgb(255, 204, 106);
    }

/******************************** MODAL SUBJECTS PANEL *************************/

    #modal-subjects-panel {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgb(60, 120, 125);
      height: 100vh;
      width: 100vw;
      text-align: center;
      display: none;
      flex-direction: column;
      padding-top: 5vh;
    }

    #modal-subjects-panel button {
      display: block;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      height: 100px;
      width: 280px;
      text-decoration: none;
      margin-top: 15px;
      border: solid 2px rgb(115, 161, 122);
    }

  /*******************************  GAME PAGE MOBILE **************************/

/*************** HEADING ************/
  #heading-container {
    width: 80%;
    padding-top: 3px;
  }


#heading-container .heading h1 {
    font-size: 1.3rem;
  }

  #heading-container h2 {
  display: none;
  }

  #heading-container .heading {
    display: flex;
    /* margin: 5px auto 0px auto; */
    justify-content: space-between;
  }

#heading-container #countDown {
font-size: 2rem;
position: relative;
top: 2px;
}

.level-status-mobile{
  display: block;
  font-size: 1.1rem;
  color: rgb(255, 232, 122);
  text-align: center;
}

/**************  GAME PANEL *************/

  #game-container {
    width: 90%;
    height: 51%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    padding-bottom: 2%;
  }

/** question **/
#game-container h4{
  padding: 3px 20px 0px 20px;
}


/** answer **/
#answer-options{
  margin-top: 30px;
}

#answer-options .answer-box {
  border-radius: 10px;
}

#answer-options .answer-box button {
  width: 100%;
  border-radius: 10px;
}


  /************************* COMODIN MOBILE SECTION ********************/

  #comodin-container {
    width: 70%;
    display: block;
  }

  #comodin-container h3 {
    margin-top: 0;
    padding-top: 0;
    color: rgb(255, 232, 122);
    line-height: 6px;
  }

  .comodin-buttons-container {
  display: block;
  }

  .comodin-buttons-container button {
  display: block;
    height: 30px;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2px;
  }

  .comodin-buttons-container button:hover {
    background-color: rgba(255, 208, 24, 0.63);
    color: rgb(60, 120, 125);
  }

  #comodin-container h5 {
    text-align: center;
    margin: 0 auto;
  }

  /***************************  END OF GAME MOBILE PANEL **********************/

  #end-of-game {
    width: 80%;
    padding: 5px;
    padding-right: 20px;
  }

  #end-of-game h1 {
    color: rgb(125, 42, 36);
    font-size: 1.5rem;
  }

  #end-of-game h2 {
    color: rgb(60, 120, 125);
    font-size: 1rem;
  }

  th {
    color: rgb(255, 197, 27);
    font-size: 0.900rem;
  }

  table td {
    width: 33%;
    line-height: 25px;
    font-size: 0.900rem;
  }

  #final-score-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
  }


  /********* BUTTON RESTART GAME *******/
  #button-restart-container {
    margin: 0 auto;
    width: 70%;
  }

  #restart-game {
    height: 40px;
    font-size: 0.800rem;
    letter-spacing: 2px;
  }
}
